extends layout

block content
  main.homepage
    header
      div.signupLoginContainer
        a.login(href='/login') Login
        a.signup(href='/signup') Sign Up
        if currentUser
          div=currentUser
    main.homepageContent