extends layout

block content
  main.homepage
    header
      div.signupLoginContainer
        if currentUser
          a.logout(href='/logout') Logout
        else
          a.login(href='/login') Login
        a.signup(href='/signup') Sign Up
    if currentUser
      div=currentUser
    main.homepageContent