extends layout

block content
  main.loginForm
    div.formContainer
      form(action='' method='POST')
        h2 Login Form
        div.loginInput
          label(for='username') Username:
          input(type='text' id='username' name='username' placeholder='username' required)
        div.loginInput
          label(for='password') Password:
          input(type='text' id='password' name='password' placeholder='password' required)
        button(type='submit') Submit
        if message
          p.error=message
  script(src='javascript/login.js')