$darkblue: #01b7ee;
$lightblue: #57bedd;
$darkgreen: #35df79;
$lightgreen: #7ace9c;
$darkyellow: #d4fd02;
$lightyellow: #eaff82;

:root {
  font-size: 16px;
}

body {
  background-color: black;
}

// [ HOMEPAGE ]
main.homepage {
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
    background-color: $darkgreen;
    div.signupLoginContainer {
      display: flex;
      justify-content: space-between;
      margin-right: 1rem;
      width: 20rem;
      a {
        padding: 0.5rem 1.5rem;
        font-size: 1.75rem;
        border: 2px solid black;
        border-radius: 1.5rem;
        color: black;
        font-family: sans-serif;
        text-decoration: none;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: darken($darkgreen, 15%);
          transition: all 0.3s;
          border-radius: 1.5rem;
          z-index: -1;
        }
        &:hover {
          background-color: $lightgreen;
          &:before {
            width: 100%;
          }
        }
      }
    }
  }
  main.homepageContent {
    //
  }
}
